<svg xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' style='position: absolute; width: 0; height: 0; overflow: hidden;' version='1.1' xmlns='http://www.w3.org/2000/svg'>
  <defs>
    <svg id='arrow' width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="arrow" d="M13.5886 11.4226L8.144 16.8672C7.53731 17.4747 6.55106 17.4747 5.94438 16.8672L0.499785 11.4226C-0.107676 10.8152 -0.107676 9.83047 0.499785 9.22301C1.10647 8.61554 2.09272 8.61554 2.6994 9.22301L5.48859 12.0122L5.48859 2.49184C5.48859 1.63315 6.1855 0.936245 7.04419 0.936245C7.90288 0.936245 8.59979 1.63315 8.59979 2.49184V12.0122L11.389 9.22301C11.6923 8.91889 12.0906 8.76722 12.4888 8.76722C12.887 8.76722 13.2853 8.91889 13.5886 9.22301C14.1961 9.83047 14.1961 10.8152 13.5886 11.4226Z" fill="currentcolor" />
    </svg>
  </defs>
</svg>

<h2 class="__header">Transfer</h2>
<div class="__calculator">
  <div class="__calculator-organization">
    <!--<app-currency-details></app-currency-details>-->
    <div class="app-currency-details">
      <div class="__row">
        <span class="__row-hedaer __row-left-column">Input</span>
        <div class="__row-currency">
          <div *ngIf="fromNetwork">
            <div class="white_sircle">
              <img [src]="fromNetwork.img">
            </div>
            <span>{{fromNetwork.name}}</span>
          </div>
          <img src="../../assets/svg/arrow.svg">
        </div>
      </div>
      <div class="__row">
        <div class="__row-left-column">
          <input class="input" type="number" [(ngModel)]="inputAmount" min="0" />
        </div>
        <div class="__row-currency __row-input">
          <!--(click)='selectCoin()'-->
          <div>
            <div class="white_sircle">
              <!--<img src="../../assets/svg/select_cur.svg">-->
            </div>
            <span>{{fromCurrensySymbol}}</span>
          </div>
          <img src="../../assets/svg/arrow.svg">
        </div>
      </div>
      <div class="__row">
        <div><span class="__row-total-text">Balance:</span>{{inputBalance | number: '1.0-18'}}</div>
        <!--<span>$???</span>-->
      </div>
      <div class="__row">
        <div><span class="__row-total-text">Fee:</span>{{transferFee | number: '1.0-18'}}</div>
      </div>
      <!--<div class="__row">
        <div><span class="__row-total-text">Min amount:</span>{{minAmount | number: '1.0-18'}}</div>
      </div>-->
    </div>
    <button class="__calculator-switch">
      <div class="__calculator-btn">
        <svg class="__arrow __arrow--right">
          <use xlink:href='#arrow'></use>
        </svg>
        <svg class="__arrow __arrow--left __arrow--active">
          <use xlink:href='#arrow'></use>
        </svg>
      </div>
      <div class="oval1 __oval1"></div>
      <div class="oval2 __oval2"></div>
    </button>

    <div class="app-currency-details">
      <div class="__row">
        <span class="__row-hedaer __row-left-column">Output</span>
        <div class="__row-currency">
          <div *ngIf="toNetwork">
            <div class="white_sircle">
              <img [src]="toNetwork.img">
            </div>
            <span>{{toNetwork.name}}</span>
          </div>
          <img src="../../assets/svg/arrow.svg">
        </div>
      </div>
      <div class="__row">
        <div class="__row-left-column">
          <input class="input" type="number" [ngModel]="outputAmount" disabled />
        </div>
        <div class="__row-currency __row-input">
          <!--(click)='selectCoin()'-->
          <div>
            <div class="white_sircle">
              <!--<img src="../../assets/svg/bsc.svg">-->
            </div>
            <span>{{toCurrensySymbol}}</span>
          </div>
          <img src="../../assets/svg/arrow.svg">
        </div>
      </div>
      <div class="__row">
        <!--<div><span class="__row-total-text">Balance:</span>{{outputBalance | number: '1.0-18'}}</div>-->
        <!--<span>$???</span>-->
      </div>
    </div>
    <!--<app-currency-details></app-currency-details>-->
  </div>
  <div class="__calculator-result">
    <div class="__calculator-rate">
      <span *ngIf="inputAmount && outputAmount">
        Swap: {{inputAmount}} {{fromCurrensySymbol}} for {{outputAmount}} {{toCurrensySymbol}}
      </span>
    </div>
    <button class="btn btn-primary btn--green" (click)='swapClick();' *ngIf="account&& isApproved" [ngClass]="{'wait': waiting}" [disabled]="waiting">SWAP to {{chainTo | networkSymbol}}</button>
    <button class="btn btn-primary btn--green" (click)='approveClick();' *ngIf="account&&!isApproved" [ngClass]="{'wait': waiting}" [disabled]="waiting">Approve {{fromCurrensySymbol}}</button>
    <button class="btn btn-primary btn--green" (click)='unlockWalletClick();' *ngIf="!account">UNLOCK WALLET</button>
  </div>
</div>
<h2>Transfer Records</h2>
<div class="__transfer-records">
  <mat-tab-group>
    <mat-tab label="Transit to BSC">
      <app-transfer-records-table [selectedChainId]="56" [isPayback]="false"></app-transfer-records-table>
    </mat-tab>
    <mat-tab label="Payback to Kovan">
      <app-transfer-records-table [selectedChainId]="42" [isPayback]="true"></app-transfer-records-table>
    </mat-tab>
    <mat-tab label="Transit to Kovan">
      <app-transfer-records-table [selectedChainId]="42" [isPayback]="false"></app-transfer-records-table>
    </mat-tab>
    <mat-tab label="Payback to BSC">
      <app-transfer-records-table [selectedChainId]="56" [isPayback]="true"></app-transfer-records-table>
    </mat-tab>
  </mat-tab-group>
</div>
