@import './variables';

.btn {
    border: none;
    background: none;
}

.btn-primary.btn--green {
    padding-top: 19px;
    padding-bottom: 18px;
    width: 100%;
    height: 60px;
    border-radius: 20px;

    font-weight: 600;
    background: $green;
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
        padding-top: 9px;
        padding-bottom: 8px;
        height: 40px;

        font-size: 18px;
        line-height: 24px;
    }
}

button {
    cursor: pointer;
}
