@import './variables';

.input {
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 29px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  border: none;

  font-size: 18px;
  line-height: 24px;
  color: $base-color;
  background-color: $pink5;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 15px;
    height: 40px;
  }
}
