$base-color: #FFFFFF;
$base-color-10: rgba(255, 255, 255, 0.1);
$base-color-20: rgba(255, 255, 255, 0.2);
$base-color-30: rgba(255, 255, 255, 0.3);
$green: #ABDA02;
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$purple: #6410D6;
$purple-20: rgba(107, 71, 171, 0.2);
$blue: #6B7FEF;
$blue2: #5469DD;
$blue-40:  rgba(107, 127, 239, 0.4);
$gray: #C4C4C4;
$gray-40: rgba(95, 89, 89, 0.4);
$blue2: #2A5ADA;
$pink: #C62D65;
$pink2: #7E265B;
$pink3: #501E3C;
$pink4: #80536E;
$pink5: rgba(17, 9, 28, 0.5);
$pink6: #3F1B3C;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 374px;
