<div class="__row">
    <span class="__row-hedaer __row-left-column">Input</span>
    <div class="__row-currency" (click)='selectCoin()'>
        <div>
            <div class="white_sircle">
                <img src="../../assets/svg/select_cur.svg">
            </div>
            <span>USDT</span>
        </div>
        <img src="../../assets/svg/arrow.svg">
    </div>
</div>
<div class="__row">
    <div class="__row-left-column">
        <input class="input" value="100" />
    </div>
    <div class="__row-currency __row-input">
        <div>
            <div class="white_sircle">
                <img src="../../assets/svg/select_cur.svg">
            </div>
            <span>USDT</span>
        </div>
        <img src="../../assets/svg/arrow.svg">
    </div>
</div>
<div class="__row">
    <div><span class="__row-total-text">Balance:</span>100</div>
    <span>$100</span>
</div>
