<header>
  <span class="__title">Select a coin</span>
  <button mat-button class="__close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</header>
<!--<input placeholder='Search name' />-->
<section class="__list">
  <!--<div class='__coin' *ngFor='let coin of coins' (click)='select(coin)'>
      <img class='__coin-img' [src]='coin.img'>
      {{ coin.name }}
  </div>-->
  <div class="__list-item" *ngFor='let pair of Pairs' (click)='select(pair)'>
    <div class="white_sircle">
      <img [src]="pair.tokenSymbol|imgSymbol">
    </div>
    <span class="__list-text">{{ pair.tokenSymbol }}</span>
  </div>
</section>
