<footer class="__footer">
    <div class="__footer-text">Buidl during Chainlink Hackathon, 2021</div>
    <div class="__social-network">
        <a class="__social-network-item" href="https://t.me/deBridge_finance" target="_blank">
            <img src="../../assets/svg/telegram.svg" />
        </a>
        <!--<a class="__social-network-item" href="#" target="_blank">
            <img src="../../assets/svg/some_social_link.svg" />
        </a>
        <a class="__social-network-item" href="#" target="_blank">
            <img src="../../assets/svg/medium.svg" />
        </a>-->
    </div>
    <app-wallet></app-wallet>
</footer>
